<div>
    <a href="/" class="icons__close fa fa-times" data-modal-close></a>
    <div class="modal__error">
        <div class="modal__error-text">
            <%= locals.message %>
        </div>
    </div>
</div>
