.content
    position relative
    .close-content &
        pointer-events none
        
.content-block
    position relative
    background #fff
    box-shadow 0 0 10px rgba(0, 0, 0, 0.1)
    margin 18px 18px 0 18px

    +element(table)
        flex 100%
        padding 0 18px
        margin 36px 0 25px 0
        width 100%
        box-sizing border-box
        border-top 1px solid $borderGrayColor
