.icons
    +element(close)
        color $grayTextColor
        font-size 19px
        text-decoration none
        position absolute
        display block
        right 10px
        top 10px
        +mq(600)
            font-size 25px
